* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #361f55;
  --primary-color: #e62c20;
  --text-color: #ffffff;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  min-height: 100vh;
  font-weight: 400;
  background: #ffffff;
  color: #383838;
}

@media screen and (min-width: 52em) {
  .centered {
    max-width: 52em;
  }
}

@media screen and (min-width: 30em) {
  nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (max-width: 1024px) {
  .banner {
    max-width: 990px;
  }
}

@media (min-width: 768px) {
  .banner-text {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}

@media (min-width: 321px) {
  .banner-text h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 576px) {
  .page-container {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .page-container {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .row {
    padding: 30px 0;
  }
}

@media (min-width: 768px) {
  .left-side {
    width: 50%;
    float: left;
  }

  .right-side {
    width: 50%;
    float: left;
  }
}

@media (min-width: 768px) {
  .text-section {
    padding: 35px 0;
    position: relative;
    min-height: 225px;
  }
}

@media (min-width: 768px) {
  .text-section {
    padding: 35px 0;
    position: relative;
    min-height: 225px;
  }
}

@media (min-width: 768px) {
  .btn-container {
    position: absolute;
    bottom: 10px;
    left: 0;
  }
}

@media (min-width: 768px) {
  .btn {
    height: 50px;
    font-size: 18px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .media-list {
    height: 400px;
    overflow: auto;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .media-item {
    padding: 10px 0;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .comment {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .row {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin: 12px; */
  }

  .column {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 500px) {
  .column {
    width: calc(50% - 2rem);
  }
}

@media (max-width: 768px) {
  .table-responsive>.table {
    margin-bottom: 0;
    background-color: transparent;
  }

  .table-responsive>.table>thead,
  .table-responsive>.table>tfoot {
    display: none;
  }

  .table-responsive>.table>tbody {
    display: block;
  }

  .table-responsive>.table>tbody>tr {
    display: block;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    margin-bottom: 1.6rem;
  }

  .table-responsive>.table>tbody>tr>td {
    background-color: #fff;
    display: block;
    text-align: right;
  }

  .table-responsive>.table>tbody>tr>td[item-data]:before {
    content: attr(item-data);
    float: left;
    font-size: inherit;
    font-weight: 400;
    color: #757575;
  }

  .table-responsive>.table-border {
    border: 0;
  }

  .table-responsive>.table-border>tbody>tr>td {
    border: 0;
    border-bottom: 1px solid #e0e0e0;
  }

  .table-responsive>.table-border>tbody>tr>td:last-child {
    border-bottom: 0;
  }

  .table-responsive>.table-border>tbody>tr>td,
  .table-responsive>.table-border>tbody>tr:nth-child(odd) {
    background-color: #fff;
  }

  .table-responsive>.table-border>tbody>tr>td:nth-child(odd) {
    background-color: #f5f5f5;
  }

  .table-responsive>tbody>tr:hover>td,
  .table-responsive>tbody>tr:hover {
    background-color: #fff;
  }

  .table-responsive>tbody>tr>td:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }
}

@media only screen and (min-width: 450px) {
  .modal {
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 4px;
  }

  .modal-content {
    background-color: #fafafa;
    margin: 5% auto 15% auto;
    padding: 8px;
    width: 360px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
      0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s;
    border-radius: 4px;
    border: none;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.centered {
  margin: 0 auto;
  /* padding: 0 1em; */
  text-align: center;
  margin-top: 2em;
}

.logo {
  font-size: 44px;
  font-family: "Candal", sans-serif;
  color: #361f55;
  font-weight: bold;
}

.logo-name {
  color: #e62c20;
}

.logo-text {
  color: #361f55;
  font-family: "Candal", sans-serif;
  font-size: 24px;
  margin-bottom: 2em;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

nav ul {
  margin: 2em;
}

nav ul li {
  flex: 1 0 auto;
  text-align: center;
  display: block;
  transition-duration: 0.5s;
  padding: 1rem;
  position: relative;
}

nav ul li a {
  text-transform: uppercase;
  color: #383838;
  font-weight: 600;
  font-size: 0.9375rem;
  padding: 0.37rem 0.75rem;

}


ul li:hover>ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  margin-bottom: 14px;
}


nav ul li a:hover {
  background-color: var(--main-color);
  color: var(--text-color);
  border-radius: 4px;
  cursor: pointer;
}

.active {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 0.375rem 0.75rem;
  border-radius: 4px;
}

.slide-img {
  background-image: url("../assets/images/give-info.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.banner {
  max-width: 1188px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  padding: 0 15px;
  color: var(--text-color);
}

.banner-text {
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  max-width: 520px;
  position: relative;
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.banner-text h1 {
  letter-spacing: -0.5px;
  font-weight: 600;
  margin-bottom: 0;
  font-size: 2.688rem;
}

.banner-text p {
  margin-top: 20px;
  font-size: 1.313rem;
  margin-bottom: 1.4rem;
}

.page-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 10rem;
}

.signUp-login {
  background: #f5f5f5;
  padding: 16px;
  border: 1px solid #e5e5e5;
  margin: 20px 8px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 5px 0px;
}

.signUp-login .form-group {
  margin-bottom: 14px;
  position: relative;
}

.signUp-login h3 {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin: 2px 0px 30px;
  color: var(--main-color);
}

.signUp-login .form-control {
  height: 40px;
  color: var(--main-color);
  padding-right: 36px;
}

.form-control {
  display: block;
  outline: none;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 0.95rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input {
  overflow: visible;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.form-group {
  margin-bottom: 1rem;
}

.signUp-btn {
  background: var(--main-color);
  border-color: var(--main-color);
  cursor: pointer;
  padding: 0.375rem 1.2rem;
  color: var(--text-color);
  border-radius: 4px;
  line-height: 24px;
  font-size: 1rem;
  font-weight: 700;
  border: 1px solid var(--main-color);
  margin-top: 8px;
}

.login-btn {
  background: var(--main-color);
  border-color: var(--main-color);
  cursor: pointer;
  padding: 0.375rem 1.2rem;
  color: var(--text-color);
  border-radius: 4px;
  line-height: 24px;
  font-size: 1rem;
  font-weight: 700;
  border: 1px solid var(--main-color);
  margin-top: 8px;
}

.btn-div {
  text-align: center;
}

.account {
  padding-left: 1rem;
}

.account a:hover {
  color: var(--primary-color);
}

.float-right {
  float: right !important;
}

.forget:hover {
  color: var(--primary-color);
}

.forget {
  color: inherit;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.left-side {
  position: relative;
  min-height: 1px;
  /* padding: 0 16px; */
}

.right-side {
  position: relative;
  min-height: 1px;
  /* padding: 0 16px; */
}

.bg-color {
  padding: 12px 16px;
  margin-right: 20px;
  flex: 1 1 0%;
  margin-top: 20px;
  background-color: var(--main-color);
  color: var(--text-color);
}

.text-section h3 {
  margin: 0 0 15px;
  font-weight: 600;
  font-size: 18px;
}

.text-section {
  padding: 10px;
}

.text-section p {
  margin-bottom: 4px;
}

.p-text {
  margin: 0 0 10px;
}

.btn {
  height: 42px;
  padding: 10px 30px;
  color: var(--text-color);
  border-radius: 0;
  font-weight: 600;
  border: none;
  background-color: var(--primary-color);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
}

.view-btn {
  padding: 8px 12px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  text-align: center;
  background-color: var(--main-color);
  color: var(--text-color);
}

.location-btn {
  border-radius: 4px;
  margin-bottom: 8px;
}

.page-border {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  /* padding: 8px; */
}

div .heading {
  background-color: var(--main-color);
  height: 40px;
}

.heading h3 {
  color: var(--text-color);
  text-align: center;
  text-transform: uppercase;
  padding: 8px;
}

.report {
  background: #f5f5f5;
  padding: 16px;
  border: 1px solid #e5e5e5;
  margin: 20px 8px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 5px 0px;
}

.send-btn {
  background: var(--main-color);
  border-color: var(--main-color);
  cursor: pointer;
  padding: 0.375rem 1.2rem;
  color: var(--text-color);
  border-radius: 4px;
  line-height: 24px;
  font-size: 1rem;
  font-weight: 700;
  border: 1px solid var(--main-color);
  margin-top: 8px;
}

.img-fluid {
  display: block;
  height: auto;
  max-width: 100%;
}

.column {
  margin-right: 20px;
  flex: 1 1 0%;
  margin-top: 20px;
}

img {
  vertical-align: middle;
}

.intervention {
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  margin-bottom: 20px;
  color: var(--main-color);
}

.menu-container {
  max-width: 960px;
  margin: 20px auto;
}

.menu-div {
  margin-top: 0px !important;
}

.menu-section {
  padding: 40px 0px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  padding: 4px;
}

.image-description {
  padding: 10px 0px;
}

.media-body p {
  padding: 10px 4px;
  font-weight: 600;
  font-size: 16px;
}

.media-body p span {
  font-size: 16px;
  font-weight: normal;
}

#map {
  height: 400px;
  width: 100%;
  background-color: grey;
}

.img-frame {
  position: relative;
  margin-bottom: 50px;
}

.icon {
  position: absolute;
  right: 20%;
  top: 20px;
}

.bg-purple {
  background: var(--main-color);
  color: var(--text-color);
}

.bg-red {
  background: var(--primary-color);
  color: var(--text-color);
}

.fas {
  display: inline-block;
  cursor: pointer;
}

.fa-color {
  color: var(--text-color);
}

.card ul li a {
  height: auto;
  width: 100%;
  padding: 4px;
  border-radius: 4px;
}

.card ul {
  position: absolute;
  top: 56%;
  right: 12%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.align {
  display: flex;
  justify-content: flex-end;
}

.admin-container {
  margin: 20px auto 0 auto;
  padding: 0 20% 0 20%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.status {
  padding: 12px;
  box-sizing: border-box;
  margin-bottom: 20px;
  flex: 1 0 auto;
  flex-basis: 30%;
}

.status-div {
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: center;
  border-radius: 8px;
  color: var(--text-color);
  border-radius: 5px;
}

.status-box {
  margin: 1rem;
  background: white;
  overflow: hidden;
  cursor: pointer;
  line-height: 40px;
}

.draft-bg {
  background-color: #ffc107;
}

.investigation-bg {
  background-color: #007bff;
}

.resolved-bg {
  background-color: #28a745;
}

.rejected-bg {
  background-color: #dc3545;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  background-color: #fff;
  table-layout: fixed;
  border-collapse: collapse;

}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
  text-align: left;
  padding: 1rem;
  vertical-align: top;
  border-top: 0;
  transition: all 0.3s ease;

}

.table>thead>tr>th {
  font-weight: 400;
  color: #757575;
  vertical-align: bottom;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

th {
  font-size: 1.2rem;
}

td {
  font-size: 14px;
  color: #000;
}

.table-border {
  border: 0;
  border-top: 4px solid #ff5722;
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);

}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #f1f1f1;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 8%;
}

.modal-content {
  background-color: #fafafa;
  margin: 5% auto 15% auto;
  padding: 40px;
  width: 50%;
  height: auto;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
    0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-duration: 1s;
  border-radius: 12px;
}

.close-btn {
  top: 0;
  color: #000;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



.modal-content textarea {
  font-weight: 600;
  margin-bottom: 16px;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

footer {
  position: relative;
  background: var(--main-color);
  width: 100%;
  bottom: 0;
  display: block;
  height: 50px;
}

.footer {
  color: var(--text-color);
  text-align: center;
  padding-top: 14px;
  font-weight: 600;
}

@media screen and (min-width: 1000px) {
  .status-box {
    width: calc(25% - 2rem);
  }

  .admin-container {
    display: flex;
    justify-content: space-between;
  }

  .status {
    margin-right: 20px;
  }
}

@media screen and (min-width: 459px) {
  .admin-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 500px) {
  .status-box {
    width: calc(50% - 2rem);
  }
}